html
  head
    title='JACE Kubernetes Test'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello WoTC!!!
		p Test website running from JACE Kubernetes cluster